/* Fontes de texto. */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variáveis de cor. */
@property --postButtonColor1 {
    syntax: '<color>';
    initial-value: rgba(75,131,215,1);
    inherits: false;
} 
@property --postButtonColor2 {
    syntax: '<color>';
    initial-value: rgba(33,56,97,1);
    inherits: false;
}

/* Códigos gerais. */
body {
    -webkit-transition: .4s;
    transition: .4s;
    font-family: "ABeeZee", sans-serif;
    margin: 0;
    background: radial-gradient(circle, rgba(48,60,101,1) 23%, rgba(38,48,81,1) 75%);
}
* {
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -o-transition:0.3s;
    transition:0.3s;
    margin: 0;
}

/* Tooltips */
.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 120%;
    opacity: 0;
    transition: opacity .5s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tooltip .tooltiptext:hover {
    visibility: hidden;
}

/* Cabeçalho da página. */
.overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

header {
    position: relative;
    height: 50px;
    align-items: center;
    background-color: #3d508d;
}
header .headerDropShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.231));
    background-color: #3d508d;
}
header .logoCem09 {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
    padding: 5px;
    border-radius: 7px;
    background-color: #222c4e;
}
.logoCem09 img {
    width: 130px;
}
.logoCem09 img:hover {
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.651));
}
header .logoBG {
    position: absolute;
    height: 128px;
    width: 156px;
    filter: drop-shadow(-45px 10px 20px rgba(0, 0, 0, 0.231));
    border-radius: 0 0 15px 0;
    background-color: #3d508d;
}
header ul {
    position: absolute;
    /* Alinhar verticalmente */
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    /*  */
    left: 160px;
    margin: 0;
    display: inline-block;
    padding: 0;
    list-style: none;
    border-radius: 8px;
    background-color: #222c4e;
}
header ul li {
    display: inline-block;
    font-size: 14px;
    margin: 5px 45px;
    color: #fff;
    cursor: pointer;
}
header ul li:hover {
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.356));
}
header ul .currentPage {
    margin: 5px;
    padding: 3px 40px;
    border-radius: 8px;
    color: #222c4e;
    background-color: #919ab6;
}
header #themeSwitch {
    position: absolute;
    top: 7px;
    right: 110px;
    cursor: pointer;
}
#themeSwitch img {
    width: 35px;
}
#themeSwitch img:hover {
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.651));
}
header .userPanel {
    position: absolute;
    z-index: 3;
    top: 5px;
    right: 8px;
    padding: 8px 10px;
    border-radius: 0 11px 11px 0;
    background-color: #162246;
    cursor: pointer;
}
.userPanel img {
    width: 41px;
}
.userPanel img:hover {
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.651));
}
header .userPanelDetail {
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 73px;
    height: 60px;
    width: 11px;
    border-radius: 6px 0 0 6px;
    background-color: #222c4e;

}
header .userPanelBG {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 72px;
    width: 92px;
    border-radius: 0 0 0 15px;
    background-color: #3d508d;
}

/* Menu lateral */
.sideMenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 92px;
    height: 800px;
    padding-top: 80px;
    text-align: center;
    align-items: right;
    background: linear-gradient(0deg, rgba(38,48,81,1) 40%, rgba(116,127,149,1) 73%);
}
.sideMenu button {
    width: 85%;
    height: 50px;
    font-size: 13px;
    margin: 5px;
    margin-bottom: 7px;
    font-family: "ABeeZee", sans-serif;
    border-radius: 5px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.315));
    cursor: pointer;
}
.sideMenu button:hover {
    width: 100%;
    margin: 5px 0;
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.315));
}

/* Seção das informações da página. */
.pageInfo {
    color: #fff;
}
.pageInfo h2 {
    font-family: "Abel", sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin-top: 50px;
}
.pageInfo h1 {
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.377));
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin: 15px;
}


/* Seção dos posts. */
.postsMain {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 35px;
    padding: 20px;
}

.postBlock {
    display: inline-flex;
    text-align: center;
    width: 450px;
    height: 150px;
    margin: 10px;
    margin-bottom: 25px;
    padding: 20px 10px 0 10px;
    border-radius: 7px;
    background-color: #1a2341;
}

.leftSide {
    flex: 0.8;
}
.leftSide img {
    height: 85%;
    margin-left: 10px;
}

.rightSide {
    position: relative;
    flex: 1.4;
    margin: 5px;
}
.rightSide p {
    margin-bottom: 10px;
    font-size: 11px;
    color: #fff;
}
.rightSide .postTitle {
    font-size: 22px;
}
.rightSide #postButton {
    z-index: 10;
    position: absolute;
    left:0;
    right:0;
    bottom: 25px;
    margin: auto;
    width: 80px;
    filter: drop-shadow(-6px 10px 10px rgba(0, 0, 0, 0.3)) drop-shadow(0px 0px 3px rgba(255, 255, 255, 0));
    font-size: 13px;
    padding: 4px 11px;
    border: none;
    border-radius: 77px;
    color: #fff;
    background: linear-gradient(90deg, var(--postButtonColor1) 21%, var(--postButtonColor2) 100%);
    transition: --postButtonColor1 0.3s, --postButtonColor2 0.3s, width 0.3s, padding 0.3s, font-size 0.3s, filter 1.3s;
}
#postButton:hover {
    width: 90px;
    padding: 5px 11px;
    font-size: 14px;
    text-shadow: 0px 0px 11px rgba(255, 255, 255, 1);
    border: 0.5px solid #84b0ff;
    --postButtonColor1: rgb(54, 90, 153);
    --postButtonColor2: rgb(86, 147, 238);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8)) drop-shadow(0px 0px 3px rgba(134, 176, 252, 1));
}

.pageInfoCategories {
    margin-top: 80px !important;
}
.categories {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 0px;
    padding: 20px;
}
.categoryBlock {
    display: inline-flex;
    text-align: center;
    width: 250px;
    height: 80px;
    margin: 10px;
    margin-bottom: 25px;
    padding: 15px 10px 0 5px;
    border-radius: 7px;
    background-color: #1a2341;
}
.categoryBlock .postTitle {
    margin-top: 12%;
    font-size: 18px;
}

/* Eventos */
.postsMainEventos {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 35px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.postBlockEventos {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 450px;
    height: 150px;
    margin: 10px;
    margin-bottom: 25px;
    padding: 20px 10px 0 10px;
    border-radius: 7px;
    background-color: #1a2341;
}

/* Iframe */
.iframeMain {
    position:absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}