@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abel&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "ABeeZee", sans-serif !important;
    margin: 0;
    background: radial-gradient(circle, rgba(48,60,101,1) 23%, rgba(38,48,81,1) 75%);
}

header {
    display: flex;
    justify-content: center;
}

.header-mid {
    background-color: #171E38;
    width: 500px;
    height: 160px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
}
.header-mid p {
    margin-top: 25px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

.welcome {
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 28px;
    margin-top: 5px;
    padding: 0px;
}

.img-align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.logoCem09 {
    width: 140px;
}

.themeSwitchBlock {
    position: absolute !important;
    top: 42px;
    right: 45px;
}
#themeSwitch {
    width: 35px !important;
}

/* Tooltips */
.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 120%;
    opacity: 0;
    transition: opacity .5s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tooltip .tooltiptext:hover {
    visibility: hidden;
}

/* Body */
#mobileMain {
    display: none;
}

#forms-cadastro,
#forms-login {
    position: relative;
    width: 485px;
    height: 475px;
    background-color: #171E38;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.formMainLabels {
    display: flex;
    width: 58%;
    margin: auto;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 90px;
}
.formMainLabels p {
    flex: 1;
    font-size: 24px;
    color: #fff;
}

.container-forms {
    height: 450px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 60px !important;
}

#formDivisor {
    width: 4px;
    height: 90px;
    background-color: #192038;
}

form {
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 25px !important;
}
.form-group {
    display: flex;
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

input {
    width: 340px;
    height: 40px;
    margin: 0 8px;
    border-radius: 12px;
    border: none !important;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-family: "ABeeZee", sans-serif;
}
.nameBlock {
    position: relative;
}
.nameBlock p {
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 13px;
    color: #fff;
}
input[type=password], #senha1, #senha2 {
    display: inline;
    max-width: 273px;
}
#passwordShowHideButton1, #passwordShowHideButton2 {
    display: inline;
    float: right;
    width: 33px;
}

#turmas {
    width: 80px;
    height: 40px;
    margin: 0 0 0 10px;
    text-align: center !important;
    font-size: 20px !important;
    font-family: "ABeeZee", sans-serif;
    border-radius: 12px;
    background-color: #AFAFAF;
}

button {
    width: 145px;
    height: 49px;
    border-radius: 4px;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center !important;
    background-color: #737DA0;
    color: white;
    border: none;
}

.esqueceu-senha{
    font-size: 13px;
    font-weight: normal;
    text-align: center !important;
}
#forgotPasswordPopup {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0000009c;
}
.warningBlock {
    width: 40%;
    height: 200px;
    margin: auto;
    margin-top: 5%;
    text-align: right;
    background-color: #dadada;
}
.warningBlock > img {
    width: 50px;
    margin: 5px;
    filter: opacity(0.5);
}
.warningBlock p {
    margin: 0 0 10px 0;
    text-align: center;
}
.warningBlock div {
    width: 45%;
    margin: auto;
}
.warningBlock div a {
    margin-left: 5px;
}

a {
    text-decoration: none !important;
    padding: 5px;
    border-radius: 12px;
    color: #fff !important;
    background-color: #425E9B;
}

.btn, .btn2 {
    position: absolute;
    bottom: 40px;
}
.btn2 {
    display: flex !important;
    justify-content: center !important;
}
.btn {
    display: flex !important;
    justify-content: center !important;
}

label {
    width: 60px;
    margin-right: -5px;
    color: white !important;
}

.eye {
    width: 35px;
}

.wpp, .email-contato {
    display: flex !important;
    align-items: center !important;
}

.whatsappIco, .emailIco {
    width: 32px;
    margin-right: 6px;
}

footer {
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 140px;
    font-size: 12px;
    background-color: #000410;
    color: white;
    padding: 15px 40px;
}
.footerContact, .footerMiddle, .footerRight {
    flex: 1;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.footerContact a {
    text-align: center;
    width: 70px;
    margin-left: 10px;
    font-size: 10px;
    background-color: #2a365c;
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    background-color: #000;
}

@media only screen and (max-width: 1250px) {
    body {
        text-align: center;
    }
    #desktopMain {
        display: none;
    }
    #mobileMain {
        display: inline-block;
        margin: auto;
        margin-top: 50px;
        width: 50%;
        text-align: center;
    }
    .chooseLoginRegister {
        display: inline-block;
        width: 99%;
        margin: auto;
        margin-bottom: 50px;
        padding: 8px;
        padding-bottom: 20px;
        flex-direction: row;
        border-radius: 0 0 30px 30px;
        background-color: #171E38;
    }
    .chooseLoginRegister p {
        margin: 50px 0 20px 0;
        font-size: 25px;
        color: #fff;
    }
    .chooseLoginRegister button {
        display: block;
        width: 145px;
        height: 49px;
        margin: 5px auto;
        border-radius: 4px;
        font-size: 22px;
        text-align: center !important;
        background-color: #737DA0;
        color: white;
        border: none;
    }

    footer {
        bottom: -50px;
    }
}